%section
  %h2 Fazit

%section
  %h2 Quellen
  %ol
    %li Localization in Sensor Networks, Jonathan Bachrach and Christopher Taylor, MIT 2004
    %li Lecture on Sensor Networks, Dr. Thomas Haenselmann, University of Mannheim, 2008
    %li Cameron Whitehouse. The design of calamari: an ad-hoc localization system for sensor networks. Master’s thesis, University of California at Berkeley, 2002




