%section
  %section
    %h1 Lokalisierung in sensornetzen
    %p Eric Starke
    %p Martin Schneider
  %section
    %h2
      %br
    %ul
%section
  %h2 AGENDA
  %ul{:style => "letter-spacing: normal;text-transform: none;"}
    %li Motivation
    %li Klassifizierung
    %li Lokalisierungsverfahren
    %li Gradientenverfahren
    %li Fazit
%section
  %h2 Motivation
%section
  %section
    %h2 Klassifikation
  %section
    %h2{:style => ""} bla
%section
  %h2 Position und distanz unbekannt
%section
  %h2 BEIDES BEKANNT
%section
  %h2{:style => ""} NUR DISTANZ BEKANNT
%section
  %h2 Nur Position Bekannt
%section
  %h2 Gradientenverfahren
%section
  %h2 Fazit
%section
  %h2 Title
