%section
  %h1 Lokalisierung in sensornetzen
  %p Eric Starke
  %p Martin Schneider
%section
  %h2 AGENDA
  %ul{:style => "letter-spacing: normal;text-transform: none;"}
    %li Motivation
    %li Einführung
    %li Klassifizierung
    %li Lokalisierungsverfahren
    %li Gradientenverfahren
    %li Fazit
%section
  %section
    %h2 Motivation
    %ul
      %li GPS Module sind teuer und brauchen viel Energie
      %li Position nur initial nötig
      %li Lokalisierung und Positionierung ergänzen sich
  %section
    %h2 Begriffserklärung
    %ul
      %li Positionierung: Ermittlung globaler Koordinaten
      %li Lokalisierung: Ermittlung relativer Koordinaten
  %section
    %h2 Abstand
    %ul
      %li wird oft mehrdeutig verwendet
      %li Anzahl von Hops
      %li Entfernung anhand von Messung, z.B. Signalstärke
  %section
    %h2 Signalstärke
    =image_tag "signalstaerke.png"
    %p Diagramm von Alex Woo
  %section
    %h2 Time Difference of Arrival
    %ul
      %li Radioimpuls
      %li Akustikimpulse
  %section
    %h2 Triangulierung
    =image_tag "global_triang.svg"
  %section
    =image_tag "global_triang2.svg"
%section
  %h2 Klassifikation
  =image_tag "klassifikation.svg", :width => '1000'
%section
  %section
    %h2 Position und distanz unbekannt
    %ul
      %li Knoten kennen globale Koordinaten nicht
      %li Knoten kennen lokale Koordinaten nicht
      %li Knoten merken welche Knoten in ihrem Empfangsbereich sind
  %section
    %h2 Nachbarschaftsmatrix
    =partial "martin_matrix"
  %section
    %h2 Nachbarschaftsgraph
    .imageslides
      .slides_container
        %div
          =image_tag "nachbarschaftsgraph.svg", :width => 1000
        %div
          =image_tag "nachbarschaftsgraph_hindernis.svg", :width => 1000
  %section

%section
  %section
    %h2 Position und Distanz bekannt
    %ul
      %li Lokalisierung sowie Positionierung vollständig
      %li Stützstellen für die anderen Verfahren
      %li Kostenintensiver als einfache Knoten
  %section
    %h2 Beispiele
    %ul
      %li Smartphones
      %li WLAN-Karten von Google
      %li GPS in Autos
%section
  %section
    %h2 Mischformen
    %ul
      %li In der Literatur wird nicht genau getrennt
      %li eine Art Distanzmaß wird immer gebraucht
      %li ohne globalen Bezugspunkt -> Nutzung von lokalen Koordinatensystemen
  %section
    %h2 Zentrale Algorithmen
    %ul
      %li Ein Hauptknoten oder Rechner
      %li Algorithmus muss global arbeiten
      %li Kommunikation muss zu der Basisstation gelangen
  %section
    %h2 Multidimensional Scaling
    %ul
      %li ursprünglich in Mathematischer Psychologie
      %li arbeitet ohne Beacons oder GPS
      %li Arbeit mit dem Gesetz der cos() und Stressfunktionen
  %section
    %h2 Dezentrale Algorithmen
    %ul
      %li Jeder Knoten rechnet parallel
      %li Knoten kennen nur Teile des Ganzen
  %section
    %h2 bounding box
    =image_tag "boundingbox.svg", :width => '1000'
  %section
    %h2 diffusion
    =image_tag "diffusion.svg", :width => 1000
  %section
    %h2 APIT
    -#=image_tag "diffusion.svg", width: 1000
  %section
    %h2 Semidefinite Programming
    -#=image_tag "diffusion.svg", width: 1000
