%table.small{ rules: "groups", border: "1"}
  %thead
    %tr
      %th
      %th Knoten A
      %th Knoten B
      %th Knoten C
      %th Knoten D
      %th Knoten E
  %tbody
    %tr
      %td Knoten A
      %td 1
      %td
      %td
      %td
      %td
    %tr
      %td Knoten B
      %td 1
      %td 1
      %td 1
      %td
      %td 1
    %tr
      %td Knoten C
      %td
      %td 1
      %td 1
      %td
      %td
    %tr
      %td Knoten D
      %td
      %td
      %td
      %td 1
      %td 1
    %tr
      %td Knoten E
      %td
      %td 1
      %td
      %td
      %td 1
